@model GZTimeTracker.Web.Models.ProjectModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    string edit = @Localizer["View.Project.Details.Caption"].Value;

}
    <div>
        <h2>@Localizer["View.Project.Details.Caption"]</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Client.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Client.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Code)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Code)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StarTimeUTC)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StarTimeUTC)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndTimeUTC)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndTimeUTC)
            </dd>
        </dl>
        <h3>@Localizer["View.Project.Details.Tasks"]</h3>
        <dl class="row">
            @{
                if (Model.Tasks != null)
                {
                    for (int i = 0; i < Model.Tasks.Count; i++)
                    {
                        <br />
                        @Html.Raw(Model.Tasks[i].Name);
                    }
                }
            }
        </dl>
    </div>
<div>
    @Html.ActionLink(Localizer["View.Project.Details.Edit"].Value, "Edit", new { Model.Id }) |
    <a asp-action="Index">@Localizer["View.Project.Details.BackToList"]</a>
</div>
